<div class="counter-wrapper">
  <ul class="flip-counter default" id="c1"></ul>
</div>

<h1><%= @state.name %></h1>
<p><b>Deuda</b>: <%= @state.financials["debt"] %></p>
<p><b>Personas</b>: <%= @state.financials["people"] %></p>
