<script type="text/javascript">
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
          map: 'datag_germany_aea_en',
          enableZoom: true,
          showTooltip: true,
      });
  });
</script>
<div class="row">
  <div id="vmap" style="width: 600px; height: 400px;"></div>
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Mapa</h3>
      </div>
      <div class="panel-body">
<<<<<<< HEAD
        
=======
        <div id="mapa_mexico">
          <div id="chaptersMap"></div>
        </div>
        el mapa
>>>>>>> c6721028b4484774955720a16d2a1e04b9d2f2fb
        Share/github

      </div>
    </div>
  </div>
  <div class="col-xs-8">
    Infografia
  </div>

</div>
