@font-face {
  font-family: 'cuantodebemosregular';
  src: url(asset-path('cuantodebemos-regular-webfont.eot'));
  src: url(asset-path('cuantodebemos-regular-webfont.eot?#iefix')) format('embedded-opentype'),
       url(asset-path('cuantodebemos-regular-webfont.woff')) format('woff'),
       url(asset-path('cuantodebemos-regular-webfont.ttf')) format('truetype'),
       url(asset-path('cuantodebemos-regular-webfont.svg#cuantodebemosregular')) format('svg');
  font-weight: normal;
  font-style: normal;
}
