#mapa_mexico {
	
	background: transparent;
	
	
	width:200px;
	height:442px;
	margin:auto;
	padding:2px 10px;
	
}

body{
	background: url(asset_path("binding_dark.png")) repeat scroll 0% 0% transparent;
}
