    <div class="row footer-first-row">

      <div class="col-xs-12 text-center">
        <p><small>
          &copy; 2014 - CuantoDebemos!
          <br/>
          Desarrollado por <%= link_to "BlueHats", "http://bluehats.mx" %>
        </small></p>
      </div>
  </div>
