<div id="footer">
  <div class="container">

    <div class="row footer-first-row">

      <div class="col-xs-12 text-center">
        <p><small>
          &copy; 2014 - CuantoDebemos!
          <br/>
          Desarrollado por <%= link_to "BlueHats", "http://bluehats.mx" %>
        </small></p>
      </div>

    </div>

  </div>
</div>

<script>// Script to control the counter:
// https://github.com/cnanney/css-flip-counter/blob/master/js/flipcounter.js

var defaults = {
  value: 0, inc: 999999, pace: 0.01, auto: true
};

var c1 = new flipCounter('c1', defaults);

// TODO: fix script to handle multiple counters better.//@ sourceURL=pen.js
</script>
