<div id="footer">
  <div class="container">

    <div class="row footer-first-row">

      <div class="col-xs-12 text-center">
        <p><small>
          &copy; 2014 - CuantoDebemos!
          <br/>
          Desarrollado por <%= link_to "BlueHats", "http://bluehats.mx" %>
        </small></p>
      </div>

    </div>

  </div>
</div>

<script>

var myCounter = new flipCounter("counter", {inc: <%= @debt/1224732 * 1843 %>, pace: 1, auto:false});

myCounter.incrementTo(<%= @debt %>)
</script>
